In [11]:
!jupyter nbconvert --execute toronto_neighborhoods_01.ipynb
import pandas as pd
import pickle
from urllib.request import urlopen

[NbConvertApp] Converting notebook toronto_neighborhoods_01.ipynb to html
[NbConvertApp] Executing notebook with kernel: python3
[NbConvertApp] Writing 335814 bytes to toronto_neighborhoods_01.html

In [17]:
postcodes = pickle.load(open('postcodes.dataframe.p','rb'))
postcodes.sample(5)

   Postcode           Borough                           Neighborhoods
1       M1C       Scarborough  Highland Creek, Rouge Hill, Port Union
84      M6S      West Toronto                      Runnymede, Swansea
53      M5A  Downtown Toronto               Harbourfront, Regent Park
98      M9N              York                                  Weston
52      M4Y  Downtown Toronto                    Church and Wellesley

In [19]:
coords = pd.read_csv(urlopen('https://cocl.us/Geospatial_data'))
coords.sample(5)

   Postal Code   Latitude  Longitude
3          M1G  43.770992 -79.216917
32         M3M  43.728496 -79.495697
50         M4W  43.679563 -79.377529
72         M6B  43.709577 -79.445073
80         M6M  43.691116 -79.476013

In [26]:
details = (postcodes.merge(coords, left_on='Postcode', right_on='Postal Code')
           [['Postal Code','Borough','Neighborhoods','Latitude','Longitude']])

pickle.dump(details, open("details.dataframe.p", "wb"))
print(details.shape)
details.sample(5)

(103, 5)

,Postal Code,Borough,Neighborhoods,Latitude,Longitude
52,M4Y,Downtown Toronto,Church and Wellesley,43.665860,-79.383160
45,M4P,Central Toronto,Davisville North,43.712751,-79.390197
7,M1L,Scarborough,"Clairlea, Golden Mile, Oakridge",43.711112,-79.284577
16,M1X,Scarborough,Upper Rouge,43.836125,-79.205636
32,M3M,North York,Downsview Central,43.728496,-79.495697